body {
  margin: 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: #f8f5f1;
  letter-spacing: 1px;
}
p {
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 1.2rem;
}
.container-fluid {
  padding: 7% 15%;
}
/* navbar */
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}

.tree-img {
  float: right;
}

.colored-section {
  background-color: cadetblue;
  height: 825px;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}
.title-paragraph {
  font-size: 1.5rem;
}
.learn-btn {
  background-color: #fff;
  margin: 5% 3% 5% 0;
}

/* about section */

#about p {
  text-align: left;
}

.about-heading {
  padding-bottom: 10%;
  color: black;
}

.about-img {
  max-width: 100%;
  max-height: 100%;
}

/* projects */

#projects {
  background-color: rgb(190, 216, 218);
}

/* skills section*/
#skills {
  text-align: left;
  color: black;
  padding: 5% 7% 15%;
}
.skills-logo {
  margin: 20px 20px;
}
img {
  margin-left: 5rem;
}

.skills-heading {
  color: rgb(31, 29, 29);
  padding-bottom: 3rem;
  text-align: center;
}

/* contact section */

#contact {
  background-color: cadetblue;
  padding: 7% 15%;
}

.contact-heading {
  color: #fff;
  letter-spacing: 6px;
}
#contact-form {
  margin-left: 300px;
}
button {
  margin-right: 270px;
}

textarea {
  margin-left: 15px;
}

.form-control,
textarea {
  max-width: 400px;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* footer section*/

#footer {
  background-color: #132c33;
  padding: 3rem 15rem;
  color: #999;
}

#footer p {
  font-size: 15px;
}

.footer-icon {
  display: inline-block;
  margin: 20px 10px;
}
